#panther {
    width: 100px;
    height: 100px;
}
#text {
    color: lightblue;
    background-color: black;
}
#button1 {
    color: lightblue;
    background-color: black;
}
#button2 {
    color: lightblue;
    background-color: black;
}
#button3 {
    color: lightblue;
    background-color: black;
}
#button4 {
    color: lightblue;
    background-color: black;
}
#button5 {
    color: lightblue;
    background-color: black;
}
#button6 {
    color: lightblue;
    background-color: black;
}
#button7 {
    color: lightblue;
    background-color: black;
}
#button8 {
    color: lightblue;
    background-color: black;
}
#button9 {
    color: lightblue;
    background-color: black;
}
#text2 {
    color: lightblue;
    background-color: black;
}
#text3 {
    color: lightblue;
    background-color: black;
}